body {
  padding-top: 5rem;
  vertical-align: top;
  text-align: center;

}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.checkersGame {
  position: fixed;
  text-align: center;
  width: 200%;
}