body {
  padding-top: 5rem;
  vertical-align: top;
  text-align: center;

}
.starter-template {
  padding: 3rem 1.5rem;
}

div{
  padding-right: 20%;
}


.start{
  vertical-align: top;
  text-align: center;
}

.checkersGame {
  padding: 3rem 1.5rem;
}